:root{
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  /* margin: 4rem; */
  background-color: rgb(255, 255, 255);
}
  
h1{
  color: rgb(0, 0, 0);
  font-size: 5.2rem;
  background-color: rgb(255, 255, 255);
  padding-inline: 3rem;
  padding-block: 3rem;
  height: 50vh;
  line-height: 1;
  text-align: center;
}

.arrow{
  height: 10vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-block-end: 3rem;
}

.arrow svg{
  width: 100%;
  height: 80%;

}

ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
  gap: 1.4rem;
  margin-inline: 3rem;
  padding-block-end: 3rem;
}

ul li{
  text-decoration: none;
  color: black;
  font-size: 2.4rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  /* height: 8rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: black 2px solid;
  border-radius: 100%;
}

li:first-child{
  background-color: lightgreen;
}

li:nth-child(2){
  background-color: lightblue;
}

li:last-child{
  background-color:rgb(231, 240, 128);
}