:root{
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  margin: 1.5rem;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-block: 1.4rem;
  justify-content: space-between;
}
  
h1{
  color: rgb(0, 0, 0);
  font-size: clamp(5rem, 16vw, 11rem);
  background-color: rgb(255, 255, 255);
  padding-inline: clamp(3rem, 5vw, 11rem);
  /* height: 50vh; */
  line-height: 1;
  text-align: center;
}

h2{
  font-size: clamp(2.4rem, 4vw, 8rem);
  display: flex;
  justify-content: center;
  text-align: center;
}

.arrow{
  height: 5rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.arrow svg{
  width: 100%;
  height: 80%;

}

ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.4rem;
  margin-inline: 3rem;
}

ul li{
  text-decoration: none;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  padding-inline: 3rem;
  padding-block: 1rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* flex-grow: 1; */
  border: black 0.2rem solid;
  border-radius: 100%;
}

li:first-child{
  background-color: lightgreen;
}

li:nth-child(2){
  background-color: rgb(180, 234, 244);
}

li:last-child{
  background-color:rgb(231, 240, 128);
}