:root{
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body{
  /* width: 100vw; */
  background-color: rgb(255, 255, 255);
  margin-inline: 1.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
  font-size: clamp(4rem, 10vw, 11rem);
  font-weight: 600;
  color: rgb(41, 85, 218);
  margin-block: 2.8rem;
  position: relative;
}

h1::after{
  content: "";
  display: block;
  border: 0.3rem dotted rgb(41, 85, 218);
  border-radius: 50%;
  position: absolute;
  inset: 0;
  transform: rotate(15deg);
  mix-blend-mode: multiply;

}

.date-author{
  font-size: 1.4rem;
  color: rgb(210, 138, 195);
}

h2{
  font-size: 2.8rem;
  line-height: 1;
  /* color: rgb(150, 54, 239); */
  margin-block-start: 2.4rem;
  padding-block-end: 1rem;
  border-bottom: 2px solid ;
}

p{
  font-size: 1.6rem;
  line-height: 1.3;
  margin-block-end: 1.4rem;
}
section {
  border: 0.3rem dotted ;
  border-radius: 50%;
  margin-block-end: 2rem;
}

#section1{
  color: rgb(69, 196, 100);

}

#section2{
  color: rgb(214, 122, 52);
}

#section3{
  color: rgb(95, 88, 231);
}

#section4{
  color: rgb(223, 78, 163);
}

#section5{
  color: rgb(69, 196, 100);
}

#section6{
  color: rgb(214, 122, 52);
}

footer {
  font-size: 1.4rem;
  color: rgb(41, 85, 218);
  /* border: 0.2rem dotted; */
  /* border-radius: 50%; */
}


