@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url(../font/Arial.ttf);
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  src: url(../font/Arial\ Bold.ttf);
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 900;
  src: url(../font/Arial\ Black.ttf);
}

@font-face {
  font-family: "Confluence";
  src: url(../font/Elbow\ Sans.ttf);
}

@font-face {
  font-family: "Cooper Black";
  src: url(../font/COOPBL.TTF);
}

:root{
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  --primary-color: #f2fd20;
  --black:#181818;
  --white:#FFF9F2;
  --article-intro-text-color:#FFF3FC;
  --intro-bg:#40404063;
  --menu-list-grey: #2c2c2c;
  --lihgtblue:#00aeff;
  --article-theme-color-bg:#653800;
  --article-darkegg-bg-color:#542700;
  --article-theme-color-light:#FF4891;
  --article-title-shadow-color:#6F012D;
  --article-side-contrast-color:#FF4891;
  --page-padding-block: 2rem;
  --page-padding-inline: 1.4rem;
  --text-outside-stroke: 0.1rem;
  --nav-height: 4rem;
  --home-button-width:11rem;
}

html{
  background-color: var(--white);
  overflow-y: auto;
  scroll-behavior: auto;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh; 
  min-height: 100dvh;
  background-color: var(--article-theme-color-bg);
  padding-inline: var(--page-padding-inline);
  padding-block-start: var(--page-padding-block);
  display: flex;
  flex-direction: column;
}



/* Header style start_______ */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 2.2rem;
  font-family: "Cooper Black";
  position: fixed;
  top: 0;
  left: 0;
  padding-block: var(--page-padding-block);
  padding-inline: var(--page-padding-inline);
  z-index: 7;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 0;
  position: relative;
  z-index: 3;
  transform: scaleY(1);
  transition: transform 0.5s ease 0.5;
}

header div.home-button {
  background-color: var(--white);
  width: var(--home-button-width);
  height: var(--nav-height);
  border-radius: 7rem;
  border: var(--black) 0.1rem solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  /* Text outside stroke */
  text-shadow:
    -0.1rem -0.1rem 0 black,
    0.1rem -0.1rem 0 black,
    -0.1rem 0.1rem 0 black,
    0.1rem 0.1rem 0 black,
    0 -0.1rem 0 black,
    0 0.1rem 0 black,
    -0.1rem 0 0 black,
    0.1rem 0 0 black;
  cursor: pointer;
}

/* menu start here_____ */

.menu {
  background-color: var(--primary-color);
  width: clamp(12rem, 40vw, 40rem);
  height: var(--nav-height);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  border: var(--black) 0.1rem solid;
  cursor: pointer;
}

.menu-list {
  position: absolute;
  top: var(--nav-height);
  height: 74vh;
  width: 100%;
  background-color: var(--primary-color);
  background-image: url(../src/egg.svg);
  overflow: clip;
  padding-block: clamp(4rem, 8vw, 8rem);
  /* animation */
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.3s ease;
  border: var(--black) 0.1rem solid;
}

#menu-toggle:checked + .menu-list {
  transform: scaleY(0);
}

#menu-toggle:checked + .menu-list ul{
  opacity: 0;
}

.menu-list ul{
  display: flex;
  padding-inline: clamp(2rem, 5vw, 7rem);
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  z-index: 2;
  opacity: 1;
  /* I make the text show up later than bg */
  transition: opacity 0.5s ease 0.3s;
}

.menu-list li > a{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}


.menu-list li div{
  display: inline-block;
  width: fit-content;
  background-color: var(--primary-color);
  color: var(--menu-list-grey);
}

.menu-number {
  font-size: clamp(4rem, 7vw, 6.4rem);
  font-family: "Confluence";
}

.menu-title {
  font-size: clamp(2.6rem, 5vw, 3.4rem);
  font-family: "cooper black";
}

/* When the menu show, other stuff blur */
/* body:has(#menu-toggle:not(:checked)) > .main-article {
  filter: blur(5px);
}

body:has(#menu-toggle) > .main-article {
  transition: filter 0.3s ease;
} */

/* Menu end here_________ */

header .eggs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-family: "Arial";
  font-weight: 700;
  color: var(--primary-color);
  /* So many layer in here, I have to figure it out with chrome  inspect tool*/
  z-index: 7;
  cursor: pointer;
}

header .eggs-container span {
  position: absolute;
  font-size: 0;
}

header .eggs-container span::before {
  content: "?";
  font-size: 2.2rem;
}

body:has(#intro-toggle:not(:checked)) .eggs-container span::before {
  content: "x";
}

header .eggs-container #top-right {
  height: 4.2rem;
}

/* change egg's svg style */
header .eggs-container #top-right path {
  fill: var(--black);
  stroke: var(--primary-color);
  stroke-width: 0.1rem;
}

/* Header style end_______ */
 






/* website introduce start____________ */

body:has(#intro-toggle:checked) > .intro-backdrop{
  top:-100vh;
  visibility: hidden;
}

body:has(#intro-toggle:checked) > .intro-pattern{
  top:-100vh;
  visibility: hidden;
}

body:has(#intro-toggle:checked) > .website-intro{
  top:-100vh;
  visibility: hidden;
}

body:has(#intro-toggle:not(:checked)) .menu-list{
  transform: scaleY(0);
} 

body:has(#intro-toggle:not(:checked)) nav{
  transform: scaleY(0);
  transition: transform 0.4s ease 0.4s;
}

body:has(#intro-toggle:checked) > header > nav{
  transform: scaleY(1);
  transition: transform 0.4s ease;
}


.intro-backdrop{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  -webkit-backdrop-filter: blur(4rem);
  backdrop-filter: blur(4rem);
  width: 100%;
  height: 100vh;
  height: 100dvh;
  margin: 0; 
  padding: 0; 
  transition: all 0.5s ease;
}

/* backdrop-filter and mix-blend-mode can not be together in the same element. so I seperate them */
.intro-backdrop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--intro-bg);
  mix-blend-mode: darken;
  pointer-events: none;
}

.intro-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-image: url(../src/egg.svg);
  transition: all 0.5s ease;
}

.website-intro{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  margin: 0; 
  padding: 0; 
  overflow-y: auto;
  font-size: 2rem;
  color: var(--primary-color);
  padding-block-start: var(--page-padding-block);
  padding-inline: var(--page-padding-inline);
  transition: all 0.5s ease;
}

.website-intro > *{
  opacity: 1;
  transition: opacity 0.4s ease 0.5s;
  margin-inline: auto;
}

body:has(#intro-toggle:checked) > .website-intro > *{
  opacity: 0;
  transition: opacity 0.4s ease;
}


.website-intro > p{
  margin-block: 3.4rem;
  color: var(--white);
  line-height: 1.25;
  -webkit-backdrop-filter: blur(0.7rem);
  backdrop-filter: blur(0.7rem);
  position: relative;
  z-index: 1;
  font-family: "Arial";
  font-weight: 400;
  font-size: 2rem;
}

.website-intro h2{
  font-size: clamp(8rem, 20vw, 15rem);
  font-family: "Confluence";
  line-height: 1;
  color: var(--primary-color);
  margin-block: 4rem;
  text-shadow:
    /* Outline Stroke */
    -0.1rem -0.1rem 0 var(--black),
    0.1rem -0.1rem 0 var(--black),
    -0.1rem 0.1rem 0 var(--black),
    0.1rem 0.1rem 0 var(--black),
    0 -0.1rem 0 var(--black),
    0 0.1rem 0 var(--black),
    -0.1rem 0 0 var(--black),
    0.1rem 0 0 var(--black),
    /* Shadow under texts */
    0 0.6rem 0 var(--lihgtblue); 
}

.website-intro a{
  color: var(--black);
  background-color: var(--primary-color);
  text-decoration: underline;
}

.website-intro blockquote{
  font-size: clamp(1.8rem, 5.4vw, 4.4rem);
  font-family: "Arial";
  font-weight: 700;
  margin-block: 4rem;
  text-wrap: balance;
  color: var(--primary-color);
  line-height: 1.35;
}

/* Colophon here!-------------- */
.colophon{
  margin-block-start: 8rem;
}

.colophon > span{
  font-family: "Confluence";
  font-size: clamp(6rem, 16vw, 20rem);
  color: var(--primary-color);
}

.Typeface-and-Credits{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  font-size: 2rem;
  font-family: 'Arial';
}

.Typeface-and-Credits > li{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: start;
}

.type-list{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--white);
}

.Colophon-title{
  white-space: pre-line;
  /* Make the title take the same space so the type-list and name can align */
  width: 50%;
  flex-shrink: 0;
  font-weight: 700;
  color: var(--primary-color);
}

.website-intro > *:not(Footer) {
  max-width: 78rem; 
}

.footer-wrapper {
  max-width: 150rem; 
  margin-inline: auto;
  margin-top: -4rem; 
}

.Footer-Logo{
  display: block;
  font-size: clamp(15rem, 43vw, 71rem);
  font-family: 'Confluence';
  color: var(--primary-color);
  margin-block-end: clamp(-5rem, -6vw, -2rem);
  text-shadow:
    /* Outline Stroke */
    -0.1rem -0.1rem 0 var(--black),
    0.1rem -0.1rem 0 var(--black),
    -0.1rem 0.1rem 0 var(--black),
    0.1rem 0.1rem 0 var(--black),
    0 -0.1rem 0 var(--black),
    0 0.1rem 0 var(--black),
    -0.1rem 0 0 var(--black),
    0.1rem 0 0 var(--black),
    /* Shadow under texts */
    0 0.6rem 0 var(--lihgtblue); 
}

.Footer-Credits{
  font-family: 'Arial';
  font-weight: 900;
  font-size: clamp(1.5rem, 2vw, 2.4rem);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

/* website introduce end____________ */


/* For Nav Bar */
/* Copy All Above-------------------- */




/* Main Article style from here */

/* top H2 strart--------------  */
.main-article {
  margin-block-start: calc(var(--nav-height) + 2.6rem);
}

.title-layer {
  position: fixed;
  left: 0;
  width: 100%;
  height: 70vh;
  padding-inline: var(--page-padding-inline);
  will-change: transform; 
}

.title-layer > h2 {
  display: flex;
  color: var(--primary-color);
  align-items: center;
  position: relative;
  z-index: 3;
}

.title-layer > h2 >div:first-child{
  font-family: 'Confluence';
  font-size: clamp(6rem, 16vw, 10rem);
  /* Text Box trim! */
  text-box: trim-both cap alphabetic;
  width: var(--home-button-width);
  flex-shrink: 0;
}

.title-layer > h2 >div:last-child{
  font-family: 'Cooper Black';
  font-size: clamp(2.2rem, 6vw, 4rem);
  font-weight: 700;
  text-shadow:
    /* Outline Stroke */
    -0.05rem -0.05rem 0 var(--black),
    0.05rem -0.05rem 0 var(--black),
    -0.05rem 0.05rem 0 var(--black),
    0.05rem 0.05rem 0 var(--black),
    0 -0.05rem 0 var(--black),
    0 0.05rem 0 var(--black),
    -0.05rem 0 0 var(--black),
    0.05rem 0 0 var(--black);
}

/* top H2 end--------------  */

/* Article Title start-------------- */
.article-title{
  margin-block-start: 4rem;
  color: var(--article-theme-color-light);
  width: 100%;
  position: relative;
  z-index: 2;
  height: 58vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-border{
  display: flex;
  justify-content: space-between;
}

.title-border > div{
  width: 45%;
  height: 1rem;
  background-color: var(--article-theme-color-light);
  border-radius: 8rem;
  border: var(--black) 0.05rem solid;
  box-shadow: var(--article-title-shadow-color) 0 0.3rem ;
}

/* .title-border > div:first-child{
  background-color: var(--article-theme-color-light);
  border-radius: 8rem;
  border: var(--black) 0.05rem solid;
  box-shadow: var(--article-title-shadow-color) 0 0.4rem ;
}

.title-border > div:last-child{
  background-color: var(--article-side-contrast-color);
  border-radius: 8rem;
} */

#title-bottom-border{
  transform: scaleX(-1);
}

.article-title > h1{
  font-size: clamp(3rem, 10vw, 8rem);
  font-family: "Arial";
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  text-shadow:
    /* Outline Stroke */
    -0.05rem -0.05rem 0 var(--black),
    0.05rem -0.05rem 0 var(--black),
    -0.05rem 0.05rem 0 var(--black),
    0.05rem 0.05rem 0 var(--black),
    0 -0.05rem 0 var(--black),
    0 0.05rem 0 var(--black),
    -0.05rem 0 0 var(--black),
    0.05rem 0 0 var(--black),
    /* Shadow under texts */
    0 0.4rem 0 var(--article-title-shadow-color); 
  margin-block-start: 2.4rem;
  margin-block-end: 2.4rem;
  max-width: 117rem;
  margin-inline: auto;
}

.darkegg-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100%;
  z-index: -1;
}

.darkegg-bg > path{
  fill: var(--article-darkegg-bg-color);
  stroke: var(--article-theme-color-light);
  stroke-width: 0.1;
}

.date-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  color: var(--article-theme-color-light);
  font-size: 2rem;
  font-family: 'Arial';
  font-weight: 400;
  padding-block-end: 2rem;
}

/* article-title end here--------------- */

/* article intro start-------- */
.article-intro{
  margin-block-start: 78vh;
  margin-inline: calc(-1 * var(--page-padding-inline));
  position: sticky;
  top: calc(var(--nav-height) + var(--page-padding-block));
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: var(--article-theme-color-light);
  padding-inline: var(--page-padding-inline);
  padding-block-start: var(--page-padding-block);
  padding-block-end: calc(var(--page-padding-block) + 6rem);
  margin-block-end: -5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.article-intro .small-egg{
  width: 3rem;
  margin-block: 2rem;
}

.article-intro .small-egg path{
  fill: var(--article-intro-text-color);
}

.article-intro p{
  font-size: clamp(2.4rem, 4vw, 4.2rem);
  font-family: 'Arial';
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
  color: var(--article-intro-text-color);
  line-height: 1.3;
  max-width: 106rem;
}
/* article intro end-------- */



/* article content style start ----------- */
/* Different part between 3 article */


.article-content{
  background-color: var(--white);
  height: fit-content;
  position: relative;
  z-index: 1; 
  margin-inline: calc(-1 * var(--page-padding-inline));
  padding-inline: var(--page-padding-inline);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding-block: 4rem;
  /* Fix Safari flicker */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);

  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
}

h3{
  font-size: 2.2rem;
  font-family: 'Arial';
  font-weight: 700;
  color: var(--article-theme-color-light);
  margin-block-start: 6.2rem;
  margin-block-end: 3.2rem;
  background-color: var(--white);
  border-radius: 5rem;
  border: var(--article-theme-color-light) 0.15rem solid;
  position: sticky;
  top: calc(var(--nav-height) + var(--page-padding-block) + 1rem );
  /* padding-block: 0.6rem; */
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  z-index: 1;
}

.body-text {
  scroll-margin-top: 6rem; 
  margin-block-end: 12rem;
}

.body-text:target > *:not(.article-menu) {
  animation: fade-in-up 1.2s ease-out forwards; 
  will-change: opacity;
}

/* .body-text:target > h3 {
  animation: fade-in-up 1.2s ease-out forwards;
} */

@keyframes fade-in-up {
  0% {
    opacity: 0.01; /* Avoid 0 to prevent layer removal */
  }

  25%{
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}

.article-menu li{
  font-size: 1.8rem;
  font-family: 'Arial';
  font-weight: 400;
  color: var(--intro-bg);
  padding-block: 1rem;
  border-block-end: var(--menu-list-grey) 0.15rem solid;
}

li.current-section{
  color: var(--black);
  font-weight: 700;
}

.article-content p{
  font-size: clamp(2rem, 2.6vw, 2.6rem);
  font-family: 'Arial';
  font-weight: 400;
  color: var(--article-darkegg-bg-color);
  line-height: 1.35;
  margin-block: 2.4rem;
}

.article-content blockquote{
  font-size: clamp(1.8rem, 5.6vw, 4.4rem);
  font-family: "Arial";
  font-weight: 700;
  text-transform: capitalize;
  color: var(--article-theme-color-light);
  margin-block: 6rem;
  /* text-wrap: balance; */
  line-height: 1.5;
  background-color: var(--article-darkegg-bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  margin-inline: calc(-1 * var(--page-padding-inline));
  padding-block: 5rem;
  padding-inline: var(--page-padding-inline);
  box-shadow: 0 1.2rem 0 var(--article-side-contrast-color);
  text-shadow:
    /* Outline Stroke */
    -0.05rem -0.05rem 0 var(--black),
    0.05rem -0.05rem 0 var(--black),
    -0.05rem 0.05rem 0 var(--black),
    0.05rem 0.05rem 0 var(--black),
    0 -0.05rem 0 var(--black),
    0 0.05rem 0 var(--black),
    -0.05rem 0 0 var(--black),
    0.05rem 0 0 var(--black),
    /* Shadow under texts */
    0 0.3rem 0 var(--article-title-shadow-color); 
}

blockquote > svg{
  width: 2.4rem;
}

blockquote > svg > path{
  fill: var(--article-theme-color-light);
  stroke-width: 0.1rem;
  stroke: var(--article-title-shadow-color);
}

.Content-Footer-Logo{
  display: block;
  font-size: clamp(15rem, 43vw, 71rem);
  font-family: 'Confluence';
  color: var(--article-side-contrast-color);
  margin-block-end: clamp(-5rem, -6vw, -2rem);
  text-shadow:
    /* Outline Stroke */
    -0.1rem -0.1rem 0 var(--black),
    0.1rem -0.1rem 0 var(--black),
    -0.1rem 0.1rem 0 var(--black),
    0.1rem 0.1rem 0 var(--black),
    0 -0.1rem 0 var(--black),
    0 0.1rem 0 var(--black),
    -0.1rem 0 0 var(--black),
    0.1rem 0 0 var(--black),
    /* Shadow under texts */
    0 0.6rem 0 var(--article-theme-color-bg); 
}

.Content-Footer-Credits{
  font-family: 'Arial';
  font-weight: 900;
  font-size: clamp(1rem, 2vw, 2.4rem);
  color: var(--article-side-contrast-color);
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

.highlight-text{
  background-color: var(--article-theme-color-light);
  color: var(--article-intro-text-color);
  padding-inline: 0.4rem;
  padding-block: 0.1rem;
  border-radius: 0.3rem;
}

.body-text p > a{
  color: var(--article-theme-color-light);
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

.body-text::selection{
  background-color: var(--article-darkegg-bg-color);
  color: var(--article-theme-color-light);
}




/* article content style end ----------- */


/* Media Queries ------------------- */

@media (min-width: 580px) {

  :root{
  --home-button-width:16rem;
  }
  
  .menu-list li > a{
  flex-direction: row;
  align-items: flex-start;
  gap: 5rem;
  }

  .menu-number{
    text-box: trim-both cap alphabetic;
  }

  .menu-title{
    text-box: trim-both cap alphabetic;
  }

  .Footer-Logo{
    font-size: clamp(15rem, 45vw, 72rem);
  }

  .article-intro{
    width: clamp(55rem, 86vw, 140rem);
    margin-inline: auto;
    padding-block-end: calc(var(--page-padding-block) + 8rem);
    margin-block-start: 82vh;
  }

  .article-title > h1{
    font-size: clamp(4rem, 8vw, 8rem);
    text-shadow:
    /* Outline Stroke */
    -0.05rem -0.05rem 0 var(--black),
    0.05rem -0.05rem 0 var(--black),
    -0.05rem 0.05rem 0 var(--black),
    0.05rem 0.05rem 0 var(--black),
    0 -0.05rem 0 var(--black),
    0 0.05rem 0 var(--black),
    -0.05rem 0 0 var(--black),
    0.05rem 0 0 var(--black),
    /* Shadow under texts */
    0 0.6rem 0 var(--article-title-shadow-color);
  }

}



@media (min-width: 768px) {
  :root{
  --nav-height: 5rem;
  --page-padding-inline: 3.4rem;
  --page-padding-block: 3rem;
  }


  header .eggs-container #top-right {
    height: 5rem;
  }

  .website-intro blockquote {
    line-height: 1.2;
  }

  .Footer-Logo{
  text-shadow:
    /* Outline Stroke */
    -0.1rem -0.1rem 0 var(--black),
    0.1rem -0.1rem 0 var(--black),
    -0.1rem 0.1rem 0 var(--black),
    0.1rem 0.1rem 0 var(--black),
    0 -0.1rem 0 var(--black),
    0 0.1rem 0 var(--black),
    -0.1rem 0 0 var(--black),
    0.1rem 0 0 var(--black),
    /* Shadow under texts */
    0 1.5rem 0 var(--lihgtblue); 
  }

  .darkegg-bg{
    transform: translate(-50%, 0%) scale(1.25);
    transform-origin: bottom;
  }

  .article-content blockquote{
    text-shadow:
    /* Outline Stroke */
    -0.05rem -0.05rem 0 var(--black),
    0.05rem -0.05rem 0 var(--black),
    -0.05rem 0.05rem 0 var(--black),
    0.05rem 0.05rem 0 var(--black),
    0 -0.05rem 0 var(--black),
    0 0.05rem 0 var(--black),
    -0.05rem 0 0 var(--black),
    0.05rem 0 0 var(--black),
    /* Shadow under texts */
    0 0.4rem 0 var(--article-title-shadow-color);
  }

  blockquote > svg {
    width: 3.4rem;
  }
}



@media (min-width: 1024px) {
  .article-intro{
    padding-block-end: calc(var(--page-padding-block) + 10rem);
  }

  .article-intro .small-egg {
    width: 4rem;
    margin-block: 4rem;
  }

  .article-title > h1{
    text-shadow:
    /* Outline Stroke */
    -0.05rem -0.05rem 0 var(--black),
    0.05rem -0.05rem 0 var(--black),
    -0.05rem 0.05rem 0 var(--black),
    0.05rem 0.05rem 0 var(--black),
    0 -0.05rem 0 var(--black),
    0 0.05rem 0 var(--black),
    -0.05rem 0 0 var(--black),
    0.05rem 0 0 var(--black),
    /* Shadow under texts */
    0 0.8rem 0 var(--article-title-shadow-color);
  }

  .article-content blockquote{
    text-shadow:
    /* Outline Stroke */
    -0.05rem -0.05rem 0 var(--black),
    0.05rem -0.05rem 0 var(--black),
    -0.05rem 0.05rem 0 var(--black),
    0.05rem 0.05rem 0 var(--black),
    0 -0.05rem 0 var(--black),
    0 0.05rem 0 var(--black),
    -0.05rem 0 0 var(--black),
    0.05rem 0 0 var(--black),
    /* Shadow under texts */
    0 0.5rem 0 var(--article-title-shadow-color); 
    line-height: 1.3;
  }

  .Content-Footer-Logo{
  display: block;
  font-size: clamp(15rem, 43vw, 71rem);
  font-family: 'Confluence';
  color: var(--article-side-contrast-color);
  margin-block-end: clamp(-5rem, -6vw, -2rem);
  text-shadow:
    /* Outline Stroke */
    -0.1rem -0.1rem 0 var(--black),
    0.1rem -0.1rem 0 var(--black),
    -0.1rem 0.1rem 0 var(--black),
    0.1rem 0.1rem 0 var(--black),
    0 -0.1rem 0 var(--black),
    0 0.1rem 0 var(--black),
    -0.1rem 0 0 var(--black),
    0.1rem 0 0 var(--black),
    /* Shadow under texts */
    0 1.2rem 0 var(--article-theme-color-bg); 
  }

  /* Grid start------------------ */

  .body-text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
  }

  h3{
    grid-column: 1/10;
    margin-block-start: 8rem;
    margin-block-end: 5rem;
  }

  .article-menu{
    grid-column: 1/4;
    grid-row: span 3;
    align-self: start; 
    position: sticky;
    top: 20rem;
  }

  .body-text > p{
    grid-column: 4/10;
    margin-block: 1.2rem;
    font-size: clamp(1.8rem, 2.2vw, 2.5rem);
  }

  .article-content blockquote{
    grid-column: 4/13;
    margin-inline: 0 calc(-1 * var(--page-padding-inline));
    text-wrap: balance;
    border-radius: 2rem 0 0 2rem;
  }




}